body {
  font-family: "Lato", sans-serif;
  color: hsl(0, 0%, 13%)
}

a {
  color: hsl(0, 0%, 50%);
  transition: 0.5s;
  text-decoration: none;
}

.pageTitle, .pageSubtitle {
  text-align: center;
}

.pageTitle {
  margin-top: 3rem;
}

.pageSubtitle {
  margin-bottom: 3rem;
}

a:hover {
  color: hsl(0, 0%, 20%)
}


fieldset, #bookShelf {
  width: 80%;
  margin: 0 auto 3rem auto;
  display: flex;
}

fieldset > ul {
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
}


li {
  list-style-type: none
}

#bookShelf {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#addBookButton, .readBookButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

#addBookButton {
  width: 20%;
  background: hsl(0, 0%, 13%);
  margin: 2rem auto 0.5rem auto;
}

.centreButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeBookButton {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: hsl(0, 0%, 29%);
}

/* Colors
color: hsl(0, 0%, 13%)   dark-grey
color: hsl(0, 0%, 29%)   grey
color: hsl(0, 0%, 45%)   light-grey
*/

.book, fieldset {
  border: solid 1px hsl(0, 0%, 45%);
  border-radius: 10px;
}

.book {
  display: block;
  position: relative;
  padding: 2rem;
  width: 20%;
}

.book:nth-child(3n) {margin-right: 0}

.value {
  color: hsl(0, 0%, 45%);
  margin-bottom: 1rem;
}

.read {
  background: #385E0F;
}

.not-read {
  background: #cc0000;
}
